<div class="span2">
    <!-- Ticket side panel -->
    {{partial "ticket_frags/tickets_side_panel"}}
</div>


<div class="span10 dark" style="height: 100%;">
    <div class="message">

        <div class="header">
            <h1>{{controller.model.type}} <span class="label">{{controller.model.status}}</span></h1>
            <div class="from"><i class="halflings-icon user"></i>{{controller.model.from}}</div>
            <div class="date"><i class="halflings-icon time"></i> {{controller.model.created}}</div>

        </div>

        <div class="content">
            <p>
                {{controller.model.comments}}
            </p>
        </div>

        <div class="attachments">
            <ul>
                <li>
                    <span class="label label-important">zip</span> <b>bootstrap.zip</b> <i>(2,5MB)</i>
									<span class="quickMenu">
										<a href="#" class="glyphicons search"><i></i></a>
										<a href="#" class="glyphicons share"><i></i></a>
										<a href="#" class="glyphicons cloud-download"><i></i></a>
									</span>
                </li>
                <li>
                    <span class="label label-info">txt</span> <b>readme.txt</b> <i>(7KB)</i>
									<span class="quickMenu">
										<a href="#" class="glyphicons search"><i></i></a>
										<a href="#" class="glyphicons share"><i></i></a>
										<a href="#" class="glyphicons cloud-download"><i></i></a>
									</span>
                </li>
                <li>
                    <span class="label label-success">xls</span> <b>spreadsheet.xls</b> <i>(984KB)</i>
									<span class="quickMenu">
										<a href="#" class="glyphicons search"><i></i></a>
										<a href="#" class="glyphicons share"><i></i></a>
										<a href="#" class="glyphicons cloud-download"><i></i></a>
									</span>
                </li>
            </ul>
        </div>

        <form class="replyForm"method="post" action="">

            <fieldset>
                <textarea tabindex="3" class="input-xlarge span12" id="message" name="body" rows="12" placeholder="Click here to reply"></textarea>

                <div class="actions">

                    <button tabindex="3" type="submit" class="btn btn-success">Send message</button>

                </div>

            </fieldset>

        </form>

    </div>
</div>
